<div class="menuc">
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <img src="./assets/images/about.jpg" width="674.5" height="474.88">
        </div>
        <div class="col-md">
          <p style="font-family: 'Leckerli One', cursive; font-size: 58px;color:#fac564;">Welcome to Aishwarya's</p>
          <p style="font-family: 'Yanone Kaffeesatz', sans-serif;color:#990000;font-size: 40px;">Italian to the Bone</p>
          <p style="font-family: 'Josefin Sans', sans-serif; font-size:25px;color:white;">The perfect place to enjoy the life and food.</p>
          <p style="font-family: 'Josefin Sans', sans-serif;color:white;">Founded by 1st generation of immigrants from Sicily, this Italian restaurant has quickly become a local area staple.With an amazing range of Italian dishes of both classic and modern traditions with pizzas our menu stands out!</p>
        </div>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
        <br><br>
        <div class="col-3">
            <h2 style="font-family: 'Leckerli One', cursive;color: white;">Visit Us</h2>
            <p style="font-family: 'Darker Grotesque', sans-serif;color:#fac564;font-size:25px;">198 West 21th Street</p>
            <p style="font-family: 'Darker Grotesque', sans-serif;color:#fac564;font-size:25px;">Pune 411051</p>
            <br>
            
            <h2 style="font-family: 'Leckerli One', cursive;color: white;">Timings</h2>
            <p style="font-family: 'Darker Grotesque', sans-serif;color:#fac564;font-size:25px;">Open Monday-Friday</p>
            <p style="font-family: 'Darker Grotesque', sans-serif;color:#fac564;font-size:25px;">8:00am - 9:00pm</p> 
            <br>

            <h2 style="font-family: 'Leckerli One', cursive;color: white;">To order online:</h2>
            <a href="#">www.deliciouspizza.com</a>
        
            
          </div>
        <div class="col-9 align-items-end">
        <div class="mapouter"><div class="gmap_canvas"><iframe width="674.a" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Pune%20Maharashtra&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
      </div>
        
      </div>
    </div>
</div>