<div class="menuc">
    
    <div class="container">
      <div class="row">
        <div class="col-md-4 align-items-start">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/p1.jpg" alt="Card image cap" width="286" height="272">
            <div class="card-body">
                <h5 class="card-title">Italian Pizza</h5>
              <p class="card-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
              <p class="price"><span>$2.90</span> <a href="#" class="ml-2 btn btn-white btn-dark">Order</a></p>
            </div>
          </div>
        </div>
          <div class="col-md-4 align-items-center">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="./assets/images/p2.jpg" alt="Card image cap" width="286" height="272">
              <div class="card-body">
                  <h5 class="card-title">Greek Pizza</h5>
                <p class="card-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                <p class="price"><span>$2.90</span> <a href="#" class="ml-2 btn btn-white btn-dark">Order</a></p>
              </div>
            </div>
          </div>
            <div class="col-md-4 align-items-end">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/images/p7.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Caucasian Pizza</h5>
                  <p class="card-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                  <p class="price"><span>$2.90</span> <a href="#" class="ml-2 btn btn-white btn-dark">Order</a></p>
                </div>
              </div>
            </div>
        
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/p4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">American Pizza</h5>
              <p class="card-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
              <p class="price"><span>$2.90</span> <a href="#" class="ml-2 btn btn-white btn-dark">Order</a></p>
            </div>
          </div>
        </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="./assets/images/p5.jpg" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Tomato Pie</h5>
                <p class="card-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                <p class="price"><span>$2.90</span> <a href="#" class="ml-2 btn btn-white btn-dark">Order</a></p>
              </div>
            </div>
          </div>
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./assets/images/p8.jpg" alt="Card image cap" width="286" height="283">
                <div class="card-body">
                    <h5 class="card-title">Margherita</h5>
                  <p class="card-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                  <p class="price"><span>$2.90</span> <a href="#" class="ml-2 btn btn-white btn-dark">Order</a></p>
                </div>
              </div>
            </div>
        
      </div>
    </div>
</div>