<div class="menuc">
    
    <div class="container">
      <div class="row">
        <h2 style="padding-left: 450px; font-family: 'Leckerli One', cursive; color:#fac564;;font-size: 50px;">Our Services</h2>
        <p style="text-align: center;font-family: 'Yanone Kaffeesatz', sans-serif; color: wheat;font-size: 30px;">Over the course of our restaurant’s existence, we’ve been trying to offer our customers as many additional services as possible. These banquets & catering services are an example of that!
        </p>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="font-family: 'Roboto Mono', monospace;color:#990000;">Banquets</h4>
              <p class="card-text" style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size:20px;">We cater any types of events. Starting with weddings, baby showers, bachelor parties, birthdays and finishing with anniversaries...</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="font-family: 'Roboto Mono', monospace;color:#990000;">Waiter Rental</h4>
              <p class="card-text" style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size:20px;">If you want to rent out one of our seasoned and skillful waiters for your event or a gala dinner, we'll be more than glad to do that!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="font-family: 'Roboto Mono', monospace;color:#990000;">Business Catering</h4>
              <p class="card-text" style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size:20px;">We offer a business catering service that will keep even the most demanding companies well-fed, well serviced!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="font-family: 'Roboto Mono', monospace;color:#990000;">Personal Menu Delivery</h4>
              <p class="card-text" style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size:20px;">If you're looking for a balanced, well selected menu, our tailored personal catering service will deliver it to you in no time!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="font-family: 'Roboto Mono', monospace;color:#990000;">Party Consulting</h4>
              <p class="card-text" style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size:20px;">As food events professionals, we'll be more than glad to spare one of our managers to advise you on party's menu, selection of beverages and the interior for any type of occasion...</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="font-family: 'Roboto Mono', monospace;color:#990000;">Diet Menu</h4>
              <p class="card-text" style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size:20px;">As food events professionals, we'll be more than glad to spare one of our managers to advise you on party's menu, selection of beverages and the interior for any type of occasion...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>